# Step 2 - Database Engineering

Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your Database Engineering work.

    Use Pandas to read your cleaned measurements and stations CSV data.
    Use the engine and connection string to create a database called hawaii.sqlite.
    Use declarative_base and create ORM classes for each table.
        You will need a class for Measurement and for Station.
        Make sure to define your primary keys.
    Once you have your ORM classes defined, create the tables in the database using create_all.

In [18]:
import pandas as pd

from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [19]:
# Use Pandas to read your cleaned measurements and stations CSV data.

data_measurements = "Resources/clean_data_measurements_zero.csv"
data_stations = "Resources/clean_data_stations.csv"
measurements_df = pd.read_csv(data_measurements)
stations_df = pd.read_csv(data_stations)
#measurements_df.head()
stations_df.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [20]:
# Use declarative_base and create ORM classes for each table.
#     You will need a class for Measurement and for Station.
#     Make sure to define your primary keys.
class Measurement(Base):
    __tablename__= "Measurement"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

class Station(Base):
    __tablename__= "Station"
    station = Column(String, primary_key=True)
    id = Column(Integer)
    name = Column(String)
    lat = Column(Float)
    lon = Column(Float)
    elev = Column(Float)

In [21]:
# Use the engine and connection string to create a database called hawaii.sqlite.
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

# Once you have your ORM classes defined, create the tables in the database using create_all.
Base.metadata.create_all(engine)